.lyric-boxes {
  margin: 0 10px 0 10px !important;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 750px) {
  .lyric-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}
.lyric-title {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 30px;
}
